
Lesson2/.vs/Lesson2/v16/.suo
Lesson1/.vs/slnx.sqlite
Lesson1/.vs/VSWorkspaceState.json
Lesson1/.vs/Lesson1/v16/.suo
Lesson3/.vs/Lesson3/v16/.suo
Lesson3/Task4_/App.config
Lesson3/Task4_/bin/Debug/Task4.exe
Lesson3/Task4_/bin/Debug/Task4.exe.config
Lesson3/Task4_/bin/Debug/Task4.pdb
Lesson3/Task4_/Form1.cs
Lesson3/Task4_/Form1.Designer.cs
Lesson3/Task4_/Form1.resx
Lesson3/Task4_/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Lesson3/Task4_/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Lesson3/Task4_/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lesson3/Task4_/obj/Debug/Task4.csproj.CoreCompileInputs.cache
Lesson3/Task4_/obj/Debug/Task4.csproj.FileListAbsolute.txt
Lesson3/Task4_/obj/Debug/Task4.csproj.GenerateResource.cache
Lesson3/Task4_/obj/Debug/Task4.csprojAssemblyReference.cache
Lesson3/Task4_/obj/Debug/Task4.exe
Lesson3/Task4_/obj/Debug/Task4.Form1.resources
Lesson3/Task4_/obj/Debug/Task4.pdb
Lesson3/Task4_/obj/Debug/Task4.Properties.Resources.resources
Lesson3/Task4_/Program.cs
Lesson3/Task4_/Properties/AssemblyInfo.cs
Lesson3/Task4_/Properties/Resources.Designer.cs
Lesson3/Task4_/Properties/Resources.resx
Lesson3/Task4_/Properties/Settings.Designer.cs
Lesson3/Task4_/Properties/Settings.settings
Lesson3/Task4_/Task4.csproj
Lesson4/.vs/Lesson4/v16/.suo
Lesson5/.vs/Lesson5/v16/.suo
Lesson6/.vs/Lesson6/v16/.suo
Lesson7/.vs/Lesson7/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson8/.vs/Lesson8/v16/.suo
Lesson9/.vs/Lesson9/v16/.suo
Lesson10/.vs/Lesson10/v16/.suo
